
<h1> Client Home Page </h1>

@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null) </br>
@Html.ActionLink("Client", "Index", "ClientHome", new { area = "Broker" }, null) </br>
@Html.ActionLink("Broker", "Index", "BrokerHome", new { area = "Client" }, null)
